
.addToCartBtn {
    font-size: clamp(0.5rem, calc(0.5rem + 0.5vw), 1rem) !important;
    min-width: 110px !important;
    margin-top: 1rem !important;
    font-weight: 600 !important;
}

.addToCartIcon {
    font-size: clamp(0.65rem, calc(0.65rem + 1vw), 1rem) !important;
}

.itemCard {
    width: clamp(200px, 20vw, 400px) !important;
}

.hide {
    opacity: 0 !important;
    height: 0 !important;
}
