
.cartMain {
    padding: 2%;
}

.cartH1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1%;
}

.itemsTopay {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.checkoutBillText {
    font-size: clamp(1.1rem,calc(1rem + 1vw),1.4rem);
}

@media (max-width: 600px) {
    .itemsTopay{
        flex-direction: column;
    }
}